body {
  font-family: Helvetica;
  text-align: center;
}

.navHeader {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
nav a {
  color: white;
  font-size: 18px;
  line-height: 2;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}

#newyork {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

.footer {
  background-color: dimgray;
  color: white;
  text-align: left;
}

.footer a {
  color: white;
  font-size: 11px;
}
